$main-background: #fff;
$secondary-background: #fafafa;
$text-color: #333;
$secondary-text-color: #606060;
$border: #e6e6e6;


$main-background-dark: #252628;
$secondary-background-dark: #323436;
$text-color-dark: #fff;
$secondary-text-color-dark: #bbb;
$border-dark: #5c5c5c;
