.position-CF {
  top: 50%;
  left: 85%;
  z-index: 2;
}
.position-LWF {
  top: 12%;
  left: 85%;
  z-index: 3;
}
.position-RWF {
  top: 88%;
  left: 85%;
  z-index: 1;
}
.position-AMF {
  top: 50%;
  left: 65%;
}
.position-LAMF {
  top: 12%;
  left: 65%;
}
.position-RAMF {
  top: 88%;
  left: 65%;
}
.position-SS {
  display: none;
  top: 50%;
  left: 87%;
}
.position-LCMF3 {
  top: 75%;
  left: 59%;
}
.position-RCMF {
  top: 75%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}
.position-LCMF {
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}
.position-RCMF3 {
  top: 75%;
  left: 59%;
}
.position-RW {
  top: 88%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}
.position-LW {
  top: 12%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
}
.position-DMF {
  top: 50%;
  left: 35%;
}
.position-RDMF {
  top: 75%;
  left: 35%;
}
.position-LDMF {
  top: 25%;
  left: 35%;
}
.position-LB, .position-LB5 {
  top: 12%;
  left: 9%;
  z-index: 5;
}
.position-RB, .position-RB5 {
  top: 88%;
  left: 9%;
  z-index: 1;
}
.position-CB {
  top: 50%;
  left: 9%;
  z-index: 3;
}
.position-LCB {
  top: 35%;
  left: 9%;
  z-index: 5;
}
.position-RCB {
  top: 65%;
  left: 9%;
  z-index: 2;
}
.position-LCB3 {
  top: 25%;
  left: 20%;
  z-index: 4;
}
.position-RCB3 {
  top: 75%;
  left: 20%;
}
.position-LWB {
  top: 13%;
  left: 34%;
}
.position-RWB {
  top: 87%;
  left: 34%;
}
.position-CD {
  top: 50%;
  left: 15%;
}
.position-GK {
  top: 50%;
  left: 2%;
}
