.slider {
    height: 40px; // all children are absolute positioned
}

.slider-handle {
    background-color: #E0E0E0;
    border: 2px solid black;
    border-radius: 4px 4px 13px 13px;
    width: 20px;
    height: 20px;
}

.slider-bar {
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid black;
    height: 5px;
    width: auto;
    background-color: white;
    &-1 { background-color: grey; }
}

.mono-slider-bar {
    margin-top: 5px;
    border-radius: 2px;
    border: 1px solid black;
    height: 5px;
    width: auto;
    background-color: white;
}
