.filter-label {
  display: block;
  color: #606060;
  font-size: 14px;
  margin-bottom: 7px;
  white-space: normal;
}
.filter-label > span {
  display: inline-block;
  vertical-align: middle;
  max-width: 232px;
}
.filter-label .delete-filter {
  visibility: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  background-image: url(../images/close-red.svg);
  background-size: 100%;
  opacity: .8;
  cursor: pointer;
}
.filter-label .delete-filter:hover {
  opacity: 1;
}
.filter-label:hover .delete-filter {
   visibility: visible;
}

.filter-options {
  float: right;
}
